@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  height: 100vh; /* 100% da altura da viewport */
  width: 100vw; /* 100% da largura da viewport */
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove padding padrão do body */

  /* padding: 1rem; */
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
